.heroSection {
    background-image: url('/image/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .container {
    text-align: center;
    color: #fff;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #DEDEA7;
   
    
  }
  
  .subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    color: #DEDEA7;
  }
  @media (max-width: 480px) {
    .hero {
      height: 160px;
    }
  
    .title {
      font-size: 20px;
      margin-bottom: 10px;
      width: 20ch;
    }
  
    .hero-subheading {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  