.heroSection {
    background-image: url('/image/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .container {
    text-align: center;
    color: #fff;
  }
  
  .title {
    font-size: 48px;
    margin-bottom: 20px auto;
    font-weight: bold;
    color: #DEDEA7;
   max-width: 50ch;
   
  }
  
  .subtitle {
    font-size: 25px;
    margin-bottom: 30px;
    color: #DEDEA7;
  }
  @media (max-width: 480px) {
    .hero {
      height: 160px;
    }
  
    .title {
      font-size: 25px;
      margin-bottom: 10px;
      
    }
  
    .subtitle 
      {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  