.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  }

.memoriesSection {
  padding: 50px 0;
  margin-bottom: 20px;
  background-color: #E7CBCB;
}

.memoriesHeading {
  text-align: center;
  margin-bottom: 40px;
  color: #643843;
  font-weight: bold;
}

.gallery {
  margin-bottom: 40px;
}

.galleryTitle {
  text-align: center;
  margin-bottom: 20px;
  color: #643843;
  font-weight: bold;
}

.carousel {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.carousel-item {
  text-align: center;
}

.photo {
  display: block;
    background-position: center;
    height: auto;
    object-fit: cover;
    margin:0 auto;
    border: 5px solid;
}
