.messageSection {
    background-color: #E7CBCB;
    padding: 40px 0;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .messageHeading {
    text-align: center;
    margin-bottom: 48px;
    color: #643843;
    font-weight: bold;
  }
  
  .messageContent {
    text-align: center;
    color: #643843;
  }
  
  @media screen and (max-width: 600px) {
    .messageContent {
      margin: 5px 20px;
    }
  }
  